@font-face {
  font-family: BowhouseLight;
  font-weight: bold;
  src: url("fonts/Bowhouse-Light.woff") format("woff");
}
@font-face {
  font-family: AdventProThin;
  font-weight: bold;
  src: url("fonts/AdventPro/AdventPro-Thin.ttf") format('truetype');
}
body {
  margin:0;
  background: rgb(42,42,46);
  /*background-image: url("wallpaper.jpg");*/
}
#content {
  min-height: 1080px;
  min-height: 100vh;
  margin: auto;
}
/* Time */
#time {
  width: 360px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 35px;
  text-align: center;
  color: #eee;
}
#date-text {
  font-weight: 100;
}
#time-text {
  font-weight: 100;
}
#date-text {
  font-size: 27px;
  text-align:center;
}
#time-text {
  font-size: 65px;
}
#time-text .digits {
  width:170px;
}
#time-text #tth {
  text-align:right;
}
#time-text #ttm {
  text-align:left;
}
#time-text .colon {
  display:inline-block;
  width:14px;
  margin: 0 3px;
}
/* Time */
/*** HEADER ROW ***/
#header-row {
  height: 40px;
  margin-bottom: 35px;
  background: #59378b;
  text-align:center;
}
/* Top Sites */
.h-container {
  display:block;
  text-align: center;
}
.h-container .ts-wrapper {
  display: inline-block;
  padding: 4px 8px;
  margin: 10px;
  height: 28px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius:8px;
  text-align:left;
  text-decoration:none;
  //border:1px solid #555;
  cursor:pointer;
  background: #404044;
}
.h-container .ts-wrapper:hover,
.h-container .ts-wrapper:focus,
.h-container .ts-wrapper:active {
}
.h-container .ts-wrapper span {
  line-height:28px;
  vertical-align: middle;
  font-family: "맑은고딕", "Malgun Gothic", sans-serif;
  font-size:12px;
  color: #eee;
}
.h-container .ts-wrapper img {
  padding: 5px 0px;
  margin-right:8px;
  /*box-shadow: 0 1px 1px 1px rgba(65,69,73,0.3),
              0 1px 3px 1px rgba(65,69,73,0.05);*/
  vertical-align: middle;
}
.h-container .ts-wrapper:hover img,
.h-container .ts-wrapper:focus img,
.h-container .ts-wrapper:active img{
}
.h-container .ts-wrapper i {
  width: 16px;
  height: 16px;
  line-height: 16px;
  padding: 5px 0px;
  margin-right:15px;
  color: #f3f3f6;
  vertical-align: middle;
}
.h-container .ts-wrapper-control {
  display: inline-block;
  padding: 4px 4px;
  margin: 10px;
  height: 28px;
  width: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius:8px;
  text-align:left;
  text-decoration:none;
  border:1px solid #555;
  cursor:pointer;
  background: #404044;
  color: #f3f3f6;
}
.h-container .ts-wrapper-control:hover,
.h-container .ts-wrapper-control:focus,
.h-container .ts-wrapper-control:active {
}
.h-container .ts-wrapper-control i {
  display:inline-block;
  vertical-align: middle;
}
.h-container .stream-wrapper {
  display: inline-block;
  margin:10px;
  width:320px;
  height:240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius:8px;
  text-align:left;
  text-decoration:none;
  cursor:pointer;
  background: #404044;
}
.h-container .stream-wrapper .thumbnail {
  height:180px;
}
.h-container .stream-wrapper .info {
  height:60px;
}
.h-container .stream-wrapper .info img.logo {
  display:inline-block;
  padding:6px;
  width:48px;
  height:auto;
  border-radius:50%;
}
.h-container .stream-wrapper .info div.titles {
  display:inline-block;
  vertical-align:top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:200px;
  padding-top:6px;
  margin-left:4px;
  color:#9f9f9f;
  font-family: "맑은고딕", "Malgun Gothic", sans-serif;
}
.h-container .stream-wrapper .info div.titles .title{
  font-weight:bold;
  color:#eee;
}
.h-container .stream-wrapper .info div.viewers {
  display:inline-block;
  padding:6px 6px 0 0;
  width:50px;
  vertical-align: top;
  text-align: right;
  color:#eee;
}
.h-container .stream-wrapper .info div.viewers i{
  vertical-align: middle;
  color: #ff4747;
  font-size:12px;
}

/* Top Sites */
/*** HEADER ROW ***/
/* Search Results */
.container {
  overflow: auto;
}
.h-content li.header {
  background: #8448a4;
  vertical-align:middle;
  height: 30px;
  padding: 5px 10px;
  font-family: 'Spoqa Han Sans Light', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: 400 !important;
  font-size: 20px !important;
  color: white;
}
.h-content {
  overflow: hidden;
}
.h-content ul {
  padding:0;
  list-style: none;
}
.h-content li.item {
  display: block;
  padding: 0px 0;
  height: 40px;
  line-height: 30px;
  font-family: 'Spoqa Han Sans Light', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: 400 !important;
  font-size: 15px;
}
.h-content li.item:hover,
.h-content li.item:focus,
.h-content li.item:active {
  background: #59378b;
}
.h-content li.item a {
  display: block;
  width:100%;
  padding: 8px 30px;
  text-decoration: none;
  color: #000;
}
.h-content li.item:hover a,
.h-content li.item:focus a,
.h-content li.item:active a {
  color: #f9f5ff;
}
.h-content li.item a img {
  padding: 4px 4px;
  border-radius: 4px;
  vertical-align: middle;
}
.h-content li.item:hover a img,
.h-content li.item:focus a img,
.h-content li.item:active a img {
  background: #f9f5ff;
}
.h-content li.item a span {
  display:inlnie-block;
  margin-left: 10px;
  padding: 2px 0;
  vertical-align: middle;
  line-height: normal;
}
/* Search Results */
